.sideNav-button {
	background-color: #00000000;
	border: none;
	padding: 10px;
	
	img {
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
}
.modal-dialog {
  background-color: #69DDFF;
	height: 100vh;
  margin: 0px;
}
.modal-content{
	background-color: #69DDFF;
	border: none;
	margin: 0px;
}

 
